{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-success">Order Successful!</h2>
            <p class="lead">Thank you for your purchase.</p>
            <p>An email confirmation will be sent to <strong>{{ order.email }}</strong></p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="overlay"></div>
    <!-- Order and Delivery Details -->
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="row">
                <!-- Order Summary -->
                <div class="col-lg-6 mb-4">
                    <div class="section">
                    <h4>Order Information</h4>
                    <p><strong>Order Number:</strong> {{ order.order_number }}</p>
                    <p><strong>Order Date:</strong> {{ order.date }}</p>
                    <p><strong>Grand Total:</strong> £{{ order.grand_total|floatformat:2 }}</p>
                </div>
            </div>
                <!-- Delivery Information -->
                <div class="col-lg-6 mb-4">
                    <div class="section">
                    <h4>Delivery Information</h4>
                    <p><strong>Delivering to:</strong></p>
                    <p>{{ order.full_name }}</p>
                    <p>{{ order.street_address1 }}</p>
                    {% if order.street_address2 %}
                        <p>{{ order.street_address2 }}</p>
                    {% endif %}
                    <p>{{ order.town_or_city }}</p>
                    {% if order.county %}
                        <p>{{ order.county }}</p>
                    {% endif %}
                    <p>{{ order.postcode }}</p>
                    <p>{{ order.country }}</p>
                    <p><strong>Phone Number:</strong> {{ order.phone_number }}</p>
                </div>
            </div>
            </div>

            <!-- Billing Information (if different from delivery information) -->
            {% if order.billing_full_name %}
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="section"></div>
                        <h4>Billing Information</h4>
                        <p>{{ order.billing_full_name }}</p>
                        <p>{{ order.billing_street_address1 }}</p>
                        {% if order.billing_street_address2 %}
                            <p>{{ order.billing_street_address2 }}</p>
                        {% endif %}
                        <p>{{ order.billing_town_or_city }}</p>
                        {% if order.billing_county %}
                            <p>{{ order.billing_county }}</p>
                        {% endif %}
                        <p>{{ order.billing_postcode }}</p>
                        <p>{{ order.billing_country }}</p>
                    </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

   <!-- Order Summary -->
<div class="row mb-5">
    <div class="col-12 col-lg-8 offset-lg-2">
        <h3 class="text-center basket-checkout-h3">Order Details</h3>
        <div class="basket-header py-2 border-bottom d-none d-lg-flex">
            <div class="header-column">Product</div>
            <div class="header-column">Size</div>
            <div class="header-column d-none d-lg-block">SKU</div>
            <div class="header-column">Quantity</div>
            <div class="header-column">Subtotal</div>
        </div>
        {% for item in order.lineitems.all %}
        <div class="basket-item d-flex justify-content-between align-items-center py-2 border-bottom">
            <div class="item-column">
                <div class="basket-item-img">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded" style="width: 100px; height: 100px; object-fit: cover;">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.product.name }}" class="img-fluid rounded" style="width: 100px; height: 100px; object-fit: cover;">
                    {% endif %}
                </div>
                <div class="basket-item-details">
                    <div class="product-name">{{ item.product.name }}</div>
                </div>
            </div>
            <div class="item-column">
                <div class="mobile-label d-block d-lg-none"><strong>Size:</strong></div>
                <div class="product-size">{{ item.product.size }}</div>
            </div>
            <div class="item-column d-none d-lg-block">
                <div class="product-sku">{{ item.product.sku|upper }}</div>
            </div>
            <div class="item-column">
                <div class="mobile-label d-block d-lg-none"><strong>Quantity:</strong></div>
                <div class="basket-item-quantity">{{ item.quantity }}</div>
            </div>
            <div class="item-column">
                <div class="mobile-label d-block d-lg-none"><strong>Subtotal:</strong></div>
                <div class="product-subtotal">£{{ item.lineitem_total|floatformat:2 }}</div>
            </div>
        </div>
        {% endfor %}
        <div class="order-summary mt-4">
            <div class="d-flex justify-content-between">
                <strong>Delivery Charge:</strong>
                <span>£{{ order.shipping_cost|floatformat:2 }}</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <strong>Total:</strong>
                <span>£{{ order.grand_total|floatformat:2 }}</span>
            </div>
        </div>
    </div>
</div>


    <!-- Continue Shopping Button -->
    <div class="row mb-5">
        {% if from_profile %}
        <div class="col text-center pb-1">
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
        </div>
        {% else %}
        <div class="col text-center pb-1">
            <a href="{% url 'products' %}" class="btn btn-outline-dark btn dark rounded-0 btn-lg">
                <span class="font-weight-bold">Continue Shopping</span>
                <span class="icon">
                    <i class="fas fa-shopping-bag"></i>
                </span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
