{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5">
    <h1>MY SHOPPING BASKET</h1>
    {% if basket_items %}
    <div class="row">
        <div class="col-lg-12">
            <table class="product-table table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Product</th>
                        <th> Name</th>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25"> <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                class="img-fluid rounded"></td>
                        <td class="p-3">{{ item.product.name}}</td>
                        <td class="p-3">{{ item.product.sku|upper }}</td>
                        {% if item.product.has_multiple_sizes %}
                        <td class="p-3">{{ item.size }}</td>
                        {% else %}
                        <td class="p-3">One Size</td>
                        {% endif %}
                        <td class="p-3">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="decrement-qty btn-sm pigment-green-btn rounded-0"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span><i class="fas fa-minus fa-sm"></i></span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ item.num_units }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button type="button" class="increment-qty btn-sm pigment-green-btn rounded-0"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span><i class="fas fa-plus fa-sm"></i></span>
                                        </button>
                                    </div>
                                </div>
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                                <button type="submit" class="update-link"><small>Update</small></button>
                            </form>
                        </td>
                        <td class="p-3">£{{ item.total_price|floatformat:2 }}</td>
                        <td class="p-3"><a href="#" class="remove-item remove-icon-container" id="remove_{{ item.product.id }}"><i class="fa-solid fa-square-xmark fa-xl"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="12" class="pt-5 text-right">
                            <h2>ORDER SUMMARY</h2>
                            <hr>
                            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ shipping|floatformat:2 }}</h6>
                            <hr>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_shipping_delta > 0 %}
                                <p class="mb-1">
                                    You could get free delivery by spending just <strong>£{{ free_shipping_delta|floatformat:2 }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-dark rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% else %}
    <p class="empty-message">Your basket is empty.</p>
    <a href="{% url 'products' %}" class="btn">Keep Shopping</a>
    {% endif %}
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/unit-number-update-script.html' %}

<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function(e) {
        e.preventDefault();
        const form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        e.preventDefault();
        const csrfToken = "{{ csrf_token }}";
        const itemId = $(this).attr('id').split('remove_')[1];
        const url = `/basket/remove/${itemId}`;
        const data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(() => {
             location.reload();
         });
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        const closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val(), 10);
        $(closestInput).val(currentValue + 1);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        const closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val(), 10);
        if (currentValue > 1) {
            $(closestInput).val(currentValue - 1);
        }
    });

</script>
{% endblock %}