{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<!--Carousel Section-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in carousel_items %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for item in carousel_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{% if item.image %}{{ item.image.url }}{% else %}https://via.placeholder.com/150{% endif %}" class="d-block w-100" alt="{{ item.caption_title }}">
            {% if item.caption_title or item.caption_text %}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ item.caption_title }}</h5>
                <p>{{ item.caption_text }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}
