/* Definifing colour classes */


.pigment-green { background-color: #4CAF50; }
.cinereous { background-color: #8D6E63; }
.timberwolf { background-color: #D7CCC8; }
.cornsilk { background-color: #FFF8E1; }
.aureolin { background-color: #FFEB3B; }
.beige { background-color: #F5F5DC; }
.orange-peel { background-color: #FF9800; }
.seasalt { background-color: #FAFAFA; }
.yellow-green { background-color: #8BC34A; }


.pigment-green-text { color: #4CAF50; }
.cinereous-text { color: #8D6E63; }
.timberwolf-text { color: #D7CCC8; }
.cornsilk-text { color: #FFF8E1; }
.aureolin-text { color: #FFEB3B; }
.beige-text { color: #F5F5DC; }
.orange-peel-text { color: #FF9800; }
.seasalt-text { color: #FAFAFA; }
.yellow-green-text { color: #8BC34A; }


.gradient-top { background: linear-gradient(0deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-right { background: linear-gradient(90deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-bottom { background: linear-gradient(180deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-left { background: linear-gradient(270deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-top-right { background: linear-gradient(45deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-bottom-right { background: linear-gradient(135deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-top-left { background: linear-gradient(225deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-bottom-left { background: linear-gradient(315deg, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }
.gradient-radial { background: radial-gradient(circle, #4CAF50, #8D6E63, #D7CCC8, #FFF8E1, #FFEB3B, #F5F5DC, #FF9800, #FAFAFA, #8BC34A); }

html {
    height: 100%;
}

body {
    background: url('/media/backgroud-food-spices.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #FAFAFA;
    font-family: "Raleway", sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: "Playwrite IT Moderna", cursive;
    color: #8D6E63ff;
    background-color: rgba(139, 195, 74, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

.main-logo-link {
    width: fit-content;
}

.submit-btn {
    background-color: rgba(255, 235, 59, 1);
    color: #8D6E63ff;
}

.submit-btn:hover {
    background-color: rgba(245, 245, 220, 1);
}

.shipping-banner {
    background-color: rgba(255, 152, 0, 1);
    color: #FAFAFAff;
}

/*----------------------------------Carousel Section */

.carousel-container {
    margin-top: 100px;
    overflow: hidden;
}

.carousel {
    height: 400px;
}

.carousel-image {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

.carousel-caption h5,
.carousel-caption p {
    display: block;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    color: #ffffff; 
    background-color: rgba(141, 110, 99, 0.7);
    border-radius: 5px; 
}

.carousel-caption h5 {
    margin-bottom: 5px; 
}

.carousel-caption p {
    margin-top: 5px; 
}

.carousel-link {
    text-decoration: none;
}

/*---------------------------------Products Page */

/* Card styling */
.product-card {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.product-card .card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e5e5e5;
}

.product-card .card-body {
    padding: 1rem;
}

.product-card .card-title {
    background-color: rgba(215, 204, 200, 0.2);
    font-weight: bold;
}

.product-card .card-footer {
    padding: 1rem;
    background-color: #f8f9fa;
}
.product-price{
    color: #4CAF50ff;
    font-weight: bold;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(245, 245, 220, 0.7);
	z-index: -1;  
}

.list-group-item.active {
    background-color: rgba(139, 195, 74, 0.7) !important;
    color: #8D6E63ff !important;
    border-style: none!important;
}

.cart-btn {
    background-color: rgba(139, 195, 74, 0.7);
    color: white;
    width: 100%;
}

/* Sidebar Categories */

.sidebar-fixed {
    position: fixed;
}

.btn-categories:hover {
    background-color: rgba(141, 110, 99, 0.5);
    color:#FAFAFAff;
}


.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color:rgba(141, 110, 99, 0.5);
    color: #FAFAFAff;
}


.form-check-input {
    margin-top: 5px !important;
}

/* Pagination */

.pagination .page-link {
    color: #8D6E63;
}

.pagination .page-link:hover {
    background-color: rgba(76, 175, 80, 0.5);
    border-color: #4CAF50ff;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: rgba(255, 235, 59, 0.2);
    border-color: #4CAF50ff;
    color: #8D6E63;
}

.pagination .page-link:focus {
    background-color: rgba(76, 175, 80, 0.5);
    border-color: #4CAF50ff; 
    color: white;
}


/* -------------------------------- Product detail page */


/* Add to cart section */

.btn-link-as-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 48%;
    text-align: center; /* Center text */
    height: 40px;
}

.seasalt-btn {
    background-color: #FAFAFA;
    color: black;
    border: 1px solid black;
}

.seasalt-btn:hover {
    background-color: rgba(141, 110, 99, 0.6);
    color: #FAFAFA;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}


/*-------------------------*/

.custom-tabs .nav-link {
    color: #8D6E63ff;
}
.custom-tabs .nav-link.active {
    color: #8D6E63ff;
}
.custom-tabs .nav-link:hover {
    color: #8D6E63ff;
}

/* Nutritional Facts List */
.nutritional-facts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nutritional-facts li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.nutritional-facts .key {
    font-weight: bold;
    flex-basis: 50%; 
}

.nutritional-facts .value {
    flex-basis: 50%;
    text-align: right;
}

/*----------------------------------Icons stylings */

.bi.bi-heart-fill {
    color: rgba(255, 152, 0, 1);
}

.bi.bi-heart {
    color: rgba(255, 152, 0, 1);
}
/*-----------------------------------Basket Page*/

.update-link {
    margin-top: 5px;
    color: black;
    background-color: rgba(255, 152, 0, 0.3);
    border: solid 1px #051f0636;
}

.update-link:hover {
    transform: scale(1.1);
}

.remove-icon {
    background-color: rgba(76, 175, 80, 0.5);
    border-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 10%;
}

.remove-icon:hover {
    background-color: rgba(76, 175, 80, 0.8);
    border-color: #4CAF50;
    transform: scale(1.5);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
  }

/* Mobile Products page */

@media (max-width: 992px) {
    .btn-primary {
        width: 100%;
    }
    .list-group-item {
        border: none;
    }
    .list-group-item-action {
        padding: 0.75rem 1.25rem;
    }
}

/* Push products list down on mobile*/
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

