{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}

{% block inner_content %}
<div class="centered-container">
    <div class="auth-box">
        <h2 class="logo-font text-center">{% trans "Email Addresses" %}</h2>
        {% if emailaddresses %}
            <p class="text-center">
                {% trans 'The following email addresses are associated with your account:' %}
            </p>
            {% url 'account_email' as email_url %}
            <form method="post" action="{{ email_url }}" class="email-list-form">
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        <div class="email-entry">
                            <input type="radio" id="{{ radio.id }}" name="email" value="{{ emailaddress.email }}"
                                {% if radio.checked %}checked{% endif %}/>
                            <label for="{{ radio.id }}" class="{% if emailaddress.primary %}primary-email{% endif %}">
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    <span class="badge badge-success">{% trans "Verified" %}</span>
                                {% else %}
                                    <span class="badge badge-warning">{% trans "Unverified" %}</span>
                                {% endif %}
                                {% if emailaddress.primary %}
                                    <span class="badge badge-primary">{% trans "Primary" %}</span>
                                {% endif %}
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div class="button-holder">
                    <button class="btn btn-secondary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                    <button class="btn btn-secondary" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                    <button class="btn btn-danger" type="submit" name="action_remove">{% trans 'Remove' %}</button>
                </div>
            </form>
        {% else %}
            {% include "account/snippets/warn_no_email.html" %}
        {% endif %}
        
        {% if can_add_email %}
            <h2 class="text-center">{% trans "Add Email Address" %}</h2>
            {% url 'account_email' as action_url %}
            <form method="post" action="{{ action_url }}" class="add-email-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" name="action_add">{% trans "Add Email" %}</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    (function() {
        const message = "{% trans 'Do you really want to remove the selected email address?' %}";
        const actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function(e) {
                if (!confirm(message)) {
                    e.preventDefault();
                }
            });
        }
    })();
    </script>
{% endblock %}
