{% extends "account/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block inner_content %}
<div class="centered-container">
    <div class="auth-box">
        <h2 class="logo-font text-center">{% trans "Sign Out" %}</h2>
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    <form method="post" action="{{ action_url }}" class="logout-form text-center">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}
        <button type="submit" class="btn">{% trans 'Sign Out' %}</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">{% trans 'Cancel' %}</button>
    </form>
{% endblock %}
