{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block inner_content %}
<div class="centered-container">
    <div class="auth-box">
        <h2 class="logo-font text-center">{% trans "Set Password" %}</h2>

        {% url 'account_set_password' as action_url %}
        <form method="post" action="{{ action_url }}" class="set-password-form">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form|crispy }}
            <button type="submit" class="btn">{% trans 'Set Password' %}</button>
        </form>
    </div>
</div>
{% endblock %}

