{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Quality Guarantee</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container custom-container my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="fw-bold">Our No Quibbles 30 Day Quality Guarantee (UK only)</h3>
            <p>We want to provide you the very highest quality products.</p>
            <p>If you don't love them, then we don't want your money! If you are unhappy with any of our products for any reason, just send it back to us within 30 days and we will give you a full refund, no quibbles.</p>
            <p>We'll even cover postage costs.</p>

            <h4 class="mt-4">Return Conditions</h4>
            <p>Please return your items to us in their original packaging within thirty (30) days of the date on which you received them. You can return them for any reason at all, even if you just don't like the taste. However, we ask that if you have multiple bags of the same product and you want to return them all, that you only open one of the bags, and send the others back unopened.</p>

            <h4 class="mt-4">How to Return a Product</h4>
            <p>To return an item, please click the link below:</p>
            <a href="https://us14.list-manage.com/contact-form?u=dcc61c89cd068cd70688e8721&form_id=4784e42639c4ea6cda446d907db3584c" target="_blank" class="btn btn-outline-dark rounded-0">Click here to return a product</a>
            <p class="mt-2">We will pay for all return postage costs! (Please contact us above to arrange return delivery. We cannot refund your delivery costs if you send the products back to us by yourself)</p>

            <h4 class="mt-4">Refunds, Credits and Replacements</h4>
            <p>After receiving your returned products, we will normally process the refund within a few days, but in case of busy times, please allow for up to fourteen (14) days of receiving your returned items. Refunds may take 1-2 billing cycles to appear on your credit card statement, depending on your credit card company. If you prefer, we can also issue credits to your account in the form of reward points, or send you replacement products.</p>

            <h4 class="mt-4">Damaged Orders</h4>
            <p>Although we do our very best to pack every order with care, there are times when a package might get damaged during its journey to your door.</p>
            <p>If your goods arrive in an unfit state, please refuse delivery and contact us so we can resend your order quickly and report the damage.</p>
            <p>If you are unable to refuse the delivery and your goods do not arrive in perfect condition, please contact us within 14 days of receipt. Photographic evidence of damage is required or the return of the damaged item in order to request a replacement or refund.</p>

            <h4 class="mt-4">European and International Orders</h4>
            <p>Our Quality Guarantee policy as described on this page applies to orders delivered to the UK only.

            <h4 class="mt-4">Questions</h4>
            <p>If you have any questions regarding our no quibbles guarantee and returns policy, please <a href="https://us14.list-manage.com/contact-form?u=dcc61c89cd068cd70688e8721&form_id=4784e42639c4ea6cda446d907db3584c" target="_blank">click here</a> to contact us.</p>
        </div>
    </div>
</div>
{% endblock %}

