{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Product Management</h2>
            <h3 class="text-muted">Edit a product</h3>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    
 <!-- Product Form -->
    <div class="row">
        <div class="container">
            <div class="custom-width">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ product_form|crispy }}

                    <h3>Nutritional Facts</h3>
                    <div id="nutrition-facts-formset">
                        {{ nutritional_formset.management_form }}
                        {% for form in nutritional_formset %}
                        <div class="formset-row">
                            {{ form|crispy }}
                            <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                        </div>
                        {% endfor %}
                        <div class="formset-template" style="display: none;">
                            <div class="formset-row d-flex align-items-center">
                                {{ nutritional_formset.empty_form|crispy }}
                                <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start my-2">
                        <button type="button" id="add-nutrition-fact" class="btn custom-add-btn">Add Nutritional
                            Fact</button>
                    </div>
                    <h3>Related Products</h3>
                    <div id="related-products-formset">
                        {{ related_formset.management_form }}
                        {% for form in related_formset %}
                        <div class="formset-row">
                            {{ form|crispy }}
                            <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                        </div>
                        {% endfor %}
                        <div class="formset-template" style="display: none;">
                            <div class="formset-row d-flex align-items-center">
                                {{ related_formset.empty_form|crispy }}
                                <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start my-2">
                        <button type="button" id="add-related-product" class="btn custom-add-btn">Add Related
                            Product</button>
                    </div>
                    <h3>Fast Facts</h3>
                    <div id="fast-facts-formset">
                        {{ fast_fact_formset.management_form }}
                        {% for form in fast_fact_formset %}
                        <div class="formset-row">
                            {{ form|crispy }}
                            <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                        </div>
                        {% endfor %}
                        <div class="formset-template" style="display: none;">
                            <div class="formset-row d-flex align-items-center">
                                {{ fast_fact_formset.empty_form|crispy }}
                                <button type="button" class="btn custom-remove-btn remove-form-row">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start my-2">
                        <button type="button" id="add-fast-fact" class="btn custom-add-btn">Add Fast Fact</button>
                    </div>
                    <div class="button-row">
                        <a href="{% url 'product_detail' product.id %}" class="btn-link-as-button seasalt-btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="btn text-uppercase cinereous">Cancel</span>
                        </a>
                        <button type="submit" class="btn-link-as-button seasalt-btn">
                            <span class="text-uppercase">Update Product</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/formsets.js' %}"></script>
{% endblock %}
