{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">

     <!-- Breadcrumb Navigation -->
     <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
            {% if current_categories %}
                {% for category in current_categories %}
                    <li class="breadcrumb-item"><a href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a></li>
                {% endfor %}
            {% endif %}
        </ol>
    </nav>
    <!--End of Breadcrumb Navigation -->
    
    <!--Products page title-->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            <hr>
        </div>
    </div>
    <div class="row">
    <!-- End of Products page title-->

     <!-- Sorting dropdown -->
     <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper">
                <form id="sort-form" method="GET">
                    <select id="sort-selector" name="sort" class="custom-select custom-select-sm rounded-0 border {% if current_sorting != 'None_None' %}border-info{% else %}border-black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <p class="text-muted mt-3 text-center text-md-right">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <!-- End of Sorting dropdown -->

         <!-- Sidebar for Categories -->
         <div class="col-lg-3 order-2 order-lg-1 mb-3 mb-lg-0 d-none d-lg-block side-bar">
            <div class="sidebar-fixed">
            <button class="logo-font mb-3 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesCollapse" aria-expanded="false" aria-controls="categoriesCollapse">
                Select Categories:
            </button>
            <div class="collapse d-lg-block" id="categoriesCollapse">
                <form id="categoryForm" method="get">
                    <div class="list-group">
                        {% for category in categories %}
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <label for="category{{ forloop.counter }}" class="form-check-label mb-0">{{ category.friendly_name }}</label>
                            <div class="form-check">
                                <input class="form-check-input category-checkbox" type="checkbox" value="{{ category.name }}" id="category{{ forloop.counter }}" name="category" {% if category.name in selected_categories %}checked{% endif %}>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            </div>
        </div>
        <!-- End of Sidebar for Categories -->

        <!--Prducts list display-->
        <div class="col-lg-9 order-1 order-lg-2">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100 product-card">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid lazyload" src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid lazyload" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" loading="lazy">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <h4 class="card-title mb-0">{{ product.name }}</h4>
                            <a class="btn btn-sm position-absolute top-0 end-0 m-2"><i class="bi bi-heart"></i></a>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <h5 class="product-price mb-0 text-left">£{{ product.price }}</h5>
                                    {% if product.size %}
                                    <p class="small text-muted">{{ product.size }}</p>
                                    {% endif %}
                                    {% if product.category.exists %}
                                        <p class="small mt-1 mb-0">
                                            {% for category in product.category.all %}
                                                <a class="text-muted" href="{% url 'products' %}?category={{ category.name }}">
                                                    <i class="bi bi-tags"></i>{{ category.friendly_name }}
                                                </a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <small class="text-muted">
                                        <div class="rating">
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= product.rating %}
                                                    <i class="bi bi-heart-fill"></i> 
                                                {% else %}
                                                    <i class="bi bi-heart"></i> 
                                                {% endif %}
                                            {% endfor %}
                                            {{ product.rating }} / 5
                                        </div>
                                    </small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                    <div class=" text-center">
                                        <div class="cart-btn">
                                        <a href="" type="button" class="btn btn-block text-white">Add to Basket <i class="fa-solid fa-basket-shopping"></i></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
            {% endif %}                        
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
            {% endif %}
            {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}&amp;{{ querystring }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}&amp;{{ querystring }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}&amp;{{ querystring }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Function to handle category checkbox change
        document.querySelectorAll('.category-checkbox').forEach(checkbox => { checkbox.addEventListener('change', updateProducts);
    });

    // Function to update product listing based on selected categories
        function updateProducts() {
            const selectedCategories = Array.from(document.querySelectorAll('.category-checkbox:checked')).map(el => el.value);

            const params = new URLSearchParams(window.location.search);
            if (selectedCategories.length > 0) {
                params.set('category', selectedCategories.join(','));
            } else {
                params.delete('category');
            }

            history.replaceState(null, null, '?' + params.toString());

            
            document.getElementById('categoryForm').submit();
        }

        // Function to handle sorting dropdown change
        document.getElementById('sort-selector').addEventListener('change', function() {
            const selector = this;
            const currentUrl = new URL(window.location.href);

            const selectedVal = selector.value;
            if (selectedVal !== "reset") {
                const [sort, direction] = selectedVal.split("_");

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
            }

            // Redirect to the updated URL
            window.location.href = currentUrl.href;
            });

        // Initial setup based on current URL parameters for sorting
        const urlParams = new URLSearchParams(window.location.search);
        const currentSorting = urlParams.get('sort');
        if (currentSorting) {
            document.getElementById('sort-selector').value = currentSorting + '_' + urlParams.get('direction');
        }

        // Initial update based on current URL parameters for categories
        let selectedCategories = urlParams.get('category');
        if (selectedCategories) {
            selectedCategories = selectedCategories.split(',');
            selectedCategories.forEach(category => {
                const checkbox = document.querySelector('.category-checkbox[value="' + category + '"]');
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        }
    });
</script>
{% endblock %}