{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Third-Party Login Failure" %}
{% endblock head_title %}

{% block inner_content %}
<div class="centered-container">
    <div class="auth-box">
        <h2 class="logo-font text-center">{% trans "Third-Party Login Failure" %}</h2>
        <p class="text-center">
            {% trans "An error occurred while attempting to login via your third-party account." %}
        </p>
    </div>
</div>
{% endblock %}
