{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Account Connections" %}
{% endblock head_title %}

{% block inner_content %}
<div class="centered-container">
    <div class="auth-box">
        <h2 class="logo-font text-center">{% trans "Account Connections" %}</h2>
        
        {% if form.accounts %}
            <p class="text-center">
                {% blocktrans %}You can sign in to your account using any of the following third-party accounts:{% endblocktrans %}
            </p>
            {% url 'socialaccount_connections' as action_url %}
            <form method="post" action="{{ action_url }}" class="account-connections-form">
                {% csrf_token %}
                {% for acc in form.fields.account.choices %}
                    {% with account=acc.0.instance.get_provider_account %}
                        {% set radio_id %}
                            id_account_{{ account.account.pk }}
                        {% endsetvar %}
                        {% set tags %}
                            socialaccount,{{ account.account.provider }}
                        {% endsetvar %}
                        <div class="ctrlHolder">
                            <input id="{{ radio_id }}" type="radio" name="account" value="{{ account.account.pk }}" />
                            <label for="{{ radio_id }}" class="{{ tags }}">
                                {{ account }}
                                <span class="badge {{ tags }}">
                                    {{ account.get_brand.name }}
                                </span>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div class="buttonHolder">
                    <button class="btn btn-danger" type="submit" name="action_remove">
                        {% trans 'Remove' %}
                    </button>
                </div>
            </form>
        {% else %}
            <p class="text-center">
                {% trans 'You currently have no third-party accounts connected to this account.' %}
            </p>
        {% endif %}
        
        <h2 class="text-center">{% trans "Add a Third-Party Account" %}</h2>
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
</div>
{% endblock %}
